{% extends 'base.html' %}

{% block title %}
Request Blood Supply
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav>
    <a href="{% url 'accounts:index' %}">
    Hospital: {{ request.session.name }}
    </a>
    <ul>
        <li><a href="{% url 'request:request_blood_supply' %}">Request Blood Supply</a></li>
        {% if request.session.blood_supply_id == None %}
            <li><a href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
        {% else %}
            <li><a href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
        {% endif %}
        <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
</nav>
 
 <!-- Main -->
<h1>Request Blood Supply</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Request</button>
</form>
{% endblock %}