{% extends 'base.html' %}

{% block title %}
Add Donation
{% endblock %}
{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{% url 'accounts:index' %}" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>OneBlood</strong>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show justify-content-between" id="navbarColor03">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-lg-none">
                    {{ user_image }}
                    <strong class="ms-2"> {{ request.session.first_name|capfirst }} {{ request.session.last_name|capfirst }}</strong>
                </li> <!-- small screen only -->
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'donation:index' %}">Donate</a></li>
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li> <!-- small screen only -->
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li> <!-- small screen only -->
            </ul>
            <!-- large screen only -->
            <div class="dropdown d-none d-lg-block"> 
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.first_name|capfirst }} {{ request.session.last_name|capfirst }}</strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>



<main class="container py-5">
      <div class="row justify-content-center">
         <div class="col-lg-8 shadow rounded px-5 py-5">
            <h2 align="left" class="mb-3">Donate</h2>
                         <form method="post" enctype="multipart/form-data" class="row justify-content-center">
                            {% csrf_token %}
                         <div class="mt">
                              {{ form.blood_bank.label_tag }}
                              {{ form.blood_bank}}
                              <small class="text-primary">{{ form.blood_bank.errors | striptags }}</small>
                         </div>
                         <div class="mt">
                              {{ form.donation_date.label_tag }}
                              {{ form.donation_date }}
                              <small class="text-primary">{{ form.donation_date.errors | striptags }}</small>
                         </div>

                                <div class="col-lg-4">
                                      <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
                                </div>
                         </form>
                    </div>
            </div>
</main>




{% endblock %}
