<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>OneBlood</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between" id="navbarColor03">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-lg-none">
                    {{ user_image }}
                    <strong class="ms-2">{{ request.session.name }}</strong>
                </li> <!-- small screen only -->
                <li class="nav-item"><a class="text-decoration-none nav-link active"  href="{% url 'accounts:index' %}">Home</a></li>
                {% if request.session.blood_supply_id == None %}
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
                {% else %}
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
                {% endif %}
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li> <!-- small screen only -->
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li> <!-- small screen only -->
            </ul>
            <!-- large screen only -->
            <div class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.name }}</strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="container py-5">
    {% if donations %}
    <!-- Donations Table -->
    <div class ="container" align="center">
            <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
                <h2 class>Donations</h2>
                    <table style="width:95%" class="table table-hover shadow-sm p-3 mb-5 bg-white rounded" align="center">
                        <thead>
                            <tr class="table-dark" align="center">
                                <!--<th>Blood Bank</th>-->
                                <th>Donor</th>
                                <th>Blood Type</th>
                                <th>Donation Date</th>
                                <th>Status</th>
                                <th>Response</th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            {% for donation in donations %}
                                <tr>
                                    <td>{{ donation.donor.first_name}} {{ donation.donor.last_name}}</td>
                                    <td>{{ donation.donor.blood_type }}</td>
                                    <td>{{ donation.donation_date }}</td>
                                    <td>{{ donation.status }}</td>
                                    <td>
                                         <form action="{% url 'storage:update_donation' donation.id %}" method="POST">
                                             {% csrf_token %}
                                              <input class="btn btn-outline-success" type="submit" name="A" value="ACCEPT">
                                              <input class="btn btn-outline-primary" type="submit" name="D" value="DECLINE">
                                         </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex">
                        <ul class="pagination list-inline mx-auto justify-content-center">
                        {% if donations.has_previous %}
                           <li class="page-item "><a class="page-link" href="?lists_page=1">&laquo;</a></li>
                           <li class="page-item "><a class="page-link" href="?lists_page={{ donations.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        {% if donations.has_next %}
                           <li class="page-item"><a class="page-link" href="?lists_page={{ donations.next_page_number }}">Next</a></li>
                           <li class="page-item"><a class="page-link" href="?lists_page={{ donations.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
                        </ul>
                    </div>
            </div>
    </div>
    {% else %}
    <div class ="container" align="center">
        <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
            <p class="alert alert-warning" align="center">No pending donations.</p>
        </div>
    </div>
    {% endif %}

{% if requests %}
    <!-- Requests Table -->
    <div class="container mt-4" align="center">
            <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
                    <h2 class>Requests</h2>
                    <table style="width:95%" class="table table-hover shadow-sm p-3 mb-5 bg-white rounded" align="center">
                        <thead>
                            <tr class="table-dark" align="center">
                                <th>Hospital</th>
                                <th>Request Date</th>
                                <th>Blood Type</th>
                                <th>Quantity</th>
                                <th>Status</th>
                                <th>Response</th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            {% for request_o in requests %}
                                <tr>
                                    <td>{{ request_o.hospital.name }}</td>
                                    <td>{{ request_o.request_date }}</td>
                                    <td>{{ request_o.blood_type }}</td>
                                    <td>{{ request_o.quantity }}</td>
                                    <td>{{ request_o.status }}</td>
                                    <td>
                                        <form action="{% url 'storage:update_request' request_o.id %}" method="POST">
                                            {% csrf_token %}
                                            <input class="btn btn-outline-success" type="submit" name="A" value="ACCEPT">
                                            <input class="btn btn-outline-primary" type="submit" name="D" value="DECLINE">
                                         </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="d-flex">
                        <ul class="pagination list-inline mx-auto justify-content-center">
                            {% if requests.has_previous %}
                               <li class="page-item "><a class="page-link" href="?requests_page=1">&laquo;</a></li>
                               <li class="page-item "><a class="page-link" href="?requests_page={{ requests.previous_page_number }}">Prev</a></li>
                            {% endif %}
                            {% if requests.has_next %}
                               <li class="page-item"><a class="page-link" href="?requests_page={{ requests.next_page_number }}">Next</a></li>
                               <li class="page-item"><a class="page-link" href="?requests_page={{ requests.paginator.num_pages }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>

            </div>
    </div>
    {% else %}
    <div class ="container p-3" align="center">
        <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
                <p class="alert alert-warning" align="center">No pending requests.</p>
        </div>
    </div>
     {% endif %}
</main>