<nav>
    <a href="{% url 'accounts:index' %}">
        Blood Bank: {{ request.session.name }}
    </a>
    <ul>
        <li><a href="{% url 'accounts:index' %}">Pending Requests and Donations</a></li>
        {% if request.session.blood_supply_id == None %}
            <li><a href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
        {% else %}
            <li><a href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
        {% endif %}
        <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
</nav>

<main>
{% if donations %}
    <!-- Donations Table -->
    <h2>Donations</h2>
    <table style="width:50%">
        <thead>
            <tr>
                <!--<th>Blood Bank</th>-->
                <th>Donor</th>
                <th>Blood Type</th>
                <th>Donation Date</th>
                <th>Status</th>
                <th>Response</th>
            </tr>     
        </thead>
        <tbody align="center">
            {% for donation in donations %}
                <tr>
                    <td>{{ donation.donor.first_name}} {{ donation.donor.last_name}}</td>
                    <td>{{ donation.donor.blood_type }}</td>
                    <td>{{ donation.donation_date }}</td>
                    <td>{{ donation.status }}</td>
                    <td>
                         <form action="{% url 'storage:update_donation' donation.id %}" method="POST">
                             {% csrf_token %}
                              <input type="submit" name="A" value="ACCEPT">
                              <input type="submit" name="D" value="DECLINE">
                         </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% if donations.has_previous %}
           <li><a href="?lists_page=1">&laquo;</a></li>
           <li><a href="?lists_page={{ donations.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% if donations.has_next %}
           <li><a href="?lists_page={{ donations.next_page_number }}">Next</a></li>
           <li><a href="?lists_page={{ donations.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
     </ul>
{% else %}
    <p>No donations made.</p>
{% endif %}

{% if requests %}
    <!-- Requests Table -->
    <h2>Requests</h2>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Hospital</th>
                <th>Request Date</th>
                <th>Blood Type</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Response</th>
            </tr>     
        </thead>
        <tbody>
            {% for request_o in requests %}
                <tr>
                    <td>{{ request_o.hospital }}</td>
                    <td>{{ request_o.request_date }}</td>
                    <td>{{ request_o.blood_type }}</td>
                    <td>{{ request_o.quantity }}</td>
                    <td>{{ request_o.status }}</td>
                    <td>
                        <form action="{% url 'storage:update_request' request_o.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" name="A" value="ACCEPT">
                            <input type="submit" name="D" value="DECLINE">
                         </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul>
        {% if requests.has_previous %}
           <li><a href="?requests_page=1">&laquo;</a></li>
           <li><a href="?requests_page={{ requests.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% if requests.has_next %}
           <li><a href="?requests_page={{ requests.next_page_number }}">Next</a></li>
           <li><a href="?requests_page={{ requests.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
{% else %}
    <p>No requests made.</p>
{% endif %}
</main>