<nav>
    <a href="{% url 'accounts:index' %}">
        Donor: {{ request.session.first_name }} {{ request.session.last_name }}
    </a>
    <ul>
        <li><a href="{% url 'accounts:index' %}">Donations</a></li>
        <li><a href="{% url 'donation:index' %}">Add Donation</a></li>
        <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
</nav>

<main>
<h1>Welcome, {{ request.session.username }}!</h1>
{% if donations %}
    <!-- Donations Table -->
    <h2>Donations</h2>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Blood Bank</th>
                <th>Donation Date</th>
            </tr>     
        </thead>
        <tbody>
            {% for donation in donations %}
                <tr>
                    <td>{{ donation.blood_bank }}</td>
                    <td>{{ donation.donation_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul>
        {% if donations.has_previous %}
           <li><a href="?lists_page=1">&laquo;</a></li>
           <li><a href="?lists_page={{ donations.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% if donations.has_next %}
           <li><a href="?lists_page={{ donations.next_page_number }}">Next</a></li>
           <li><a href="?lists_page={{ donations.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
     </ul>
{% else %}
    <p>No donations made.</p>
{% endif %}
</main>
