<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>BrandName</strong>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show justify-content-between" id="navbarColor03">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-lg-none">
                    {{ user_image }}
                    <strong class="ms-2"> {{ request.session.first_name }} {{ request.session.last_name }}</strong>
                </li> <!-- small screen only -->
                <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:index' %}">Donations</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donation:index' %}">Add Donation</a></li>
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li> <!-- small screen only -->
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li> <!-- small screen only -->
            </ul>
            <!-- large screen only -->
            <div class="dropdown d-none d-lg-block"> 
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.first_name }} {{ request.session.last_name }}</strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<main>
<h1>Welcome, {{ request.session.username }}!</h1>
{% if donations %}
    <!-- Donations Table -->
    <h2>Donations</h2>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Blood Bank</th>
                <th>Donation Date</th>
            </tr>     
        </thead>
        <tbody>
            {% for donation in donations %}
                <tr>
                    <td>{{ donation.blood_bank }}</td>
                    <td>{{ donation.donation_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul>
        {% if donations.has_previous %}
           <li><a href="?lists_page=1">&laquo;</a></li>
           <li><a href="?lists_page={{ donations.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% if donations.has_next %}
           <li><a href="?lists_page={{ donations.next_page_number }}">Next</a></li>
           <li><a href="?lists_page={{ donations.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
     </ul>
{% else %}
    <p>No donations made.</p>
{% endif %}
</main>
