<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>OneBlood</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show justify-content-between" id="navbarColor03">
    
            <ul class="navbar-nav">
                <li class="nav-item d-block d-lg-none">
                    {{ user_image }}
                    <strong class="ms-2"> Hospital: {{ request.session.name }} </strong>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:index' %}">Home</a></li>
                {% if request.session.blood_supply_id == None %}
                <li class="nav-item"><a class="text-decoration-none nav-link " href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
                {% else %}
                <li class="nav-item"><a class="text-decoration-none nav-link " href="{% url 'request:request_blood_supply' %}">Request Blood Supply</a></li>
                <li class="nav-item"><a class="text-decoration-none nav-link " href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
                {% endif %}
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>

            <div class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.name }} </strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
            </div>   
        </div>
    </div>
</nav>

<main class="container py-5">
    <div class ="container" align="center">
        <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
            {% if transfusions %}
            <h2 align="left" class="mb-3">Transfusions</h2>
                <!-- Transfusions Table -->
                <table class="table table-hover">
                    <thead>
                        <tr align="center" class="table-dark">
                            <th>Recipient</th>
                            <th>Transfusion Date</th>
                            <th>Status</th>
                            <th>Requested Blood Type</th>
                            <th>Response</th>
                        </tr>     
                    </thead>
                    <tbody align="center">
                        {% for transfusion in transfusions %}
                            <tr>
                                <td>{{ transfusion.recipient }}</td>
                                <td>{{ transfusion.transfusion_date }}</td>
                                <td>{{ transfusion.status }}</td>
                                <td>{{ transfusion.requested_blood_type }}</td>
                                <td>
                                    <form action="{% url 'transfusion:update_transfusion' transfusion.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-outline-success" type="submit" name="A" value="ACCEPT">
                                        <input class="btn btn-outline-primary" type="submit" name="D" value="DECLINE">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="d-flex">
                    <ul class="pagination list-inline mx-auto justify-content-center">
                        {% if transfusions.has_previous %}
                        <li class="page-item"><a class="page-link" href="?lists_page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?lists_page={{ transfusions.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        {% if transfusions.has_next %}
                        <li class="page-item"><a class="page-link" href="?lists_page={{ transfusions.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?lists_page={{ transfusions.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                    <p class="alert alert-warning" align="center">No pending transfusions.</p>
            {% endif %}
        </div> 
    </div>

    <div class="container mt-4" align="center">
        <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start">
            {% if requests %}
            <h2 align="left" class="mb-3">Requests</h2>
                <!-- Requests Table -->
                <table class="table table-hover">
                    <thead>
                        <tr align="center" class="table-dark">
                            <th>Blood Bank</th>
                            <th>Request Date</th>
                            <th>Blood Type</th>
                            <th>Quantity</th>
                            <th>Status</th>
                        </tr>     
                    </thead>
                    <tbody align="center">
                        {% for request in requests %}
                            <tr>
                                <td>{{ request.blood_bank }}</td>
                                <td>{{ request.request_date }}</td>
                                <td>{{ request.blood_type }}</td>
                                <td>{{ request.quantity }}</td>
                                <td>{{ request.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="d-flex">
                    <ul class="pagination list-inline mx-auto justify-content-center">
                        {% if requests.has_previous %}
                        <li class="page-item"><a class="page-link" href="?requests_page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?requests_page={{ requests.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        {% if requests.has_next %}
                        <li class="page-item"><a class="page-link" href="?requests_page={{ requests.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?requests_page={{ requests.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <p class="alert alert-warning" align="center">No pending requests.</p>
            {% endif %}
        </div>
    </div>
</main>