<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
        <a href="{% url 'accounts:index' %}" class="navbar-brand">
        {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>OneBlood</strong>
      </a>

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="text-decoration-none nav-link active" href="{% url 'accounts:index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="text-decoration-none nav-link" href="{% url 'transfusion:index' %}">Request Transfusion</a>
        </li>
      </ul>
      <div class="dropdown d-none d-lg-block">
         <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
         aria-expanded="false">
         <strong class="me-2"> {{ request.session.first_name }} {{ request.session.last_name }}</strong>
            {{ user_image }}
         </a>
         <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
         </div>
      </div>
   </div>
</nav>


<main class="container">
    <div class="mt-4" align="center">
        <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center">
            <h2 align="left" class="mb-3">Transfusions</h2>
            {% if transfusions %}
                <!-- Transfusions Table -->
                <table  class="table table-hover">
                    <thead>
                        <tr align="center" class="table-dark">
                            <th>Hospital</th>
                            <th>Transfusion Date</th>
                            <th>Requested Blood Type</th>
                            <th>Status</th>
                        </tr>     
                    </thead>
                    <tbody>
                        {% for transfusion in transfusions %}
                            <tr align="center">
                                <td>{{ transfusion.hospital }}</td>
                                <td>{{ transfusion.transfusion_date }}</td>
                                <td>{{ transfusion.requested_blood_type }}</td>
                                <td>{{ transfusion.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-lg-4 mt-4">
                    <ul class="pagination">
                        {% if transfusions.has_previous %}
                            <li class="page-item">
                                <a href="?lists_page=1" class="page-link">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a href="?lists_page={{ transfusions.previous_page_number }}" class="page-link">Prev</a>
                            </li>
                        {% endif %}
                        {% if transfusions.has_next %}
                            <li class="page-item">
                                <a href="?lists_page={{ transfusions.next_page_number }}" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="?lists_page={{ transfusions.paginator.num_pages }}" class="page-link">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <p>No transfusions history.</p>
                </div>
                
            {% endif %}
        </div> 
    </div>
    
    
</main>
