{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>BrandName</strong>
        </a>
            <ul class="navbar-nav me-auto">
               {% if request.session.type == 'D' %}
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'accounts:index' %}">Donations</a></li>
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'donation:index' %}">Add Donation</a></li>

               {% elif request.session.type == 'R' %}
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'accounts:index' %}">Transfusions</a></li>
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'transfusion:index' %}">Add Transfusion</a></li>
               {% elif request.session.type == 'H' %}
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'accounts:index' %}">Pending Requests and Donations</a></li>
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'request:request_blood_supply' %}">Request Blood Supply</a></li>
                  {% if request.session.blood_supply_id == None %}
                     <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
                  {% else %}
                     <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
                  {% endif %}
               {% elif request.session.type == 'B' %}
                  <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'accounts:index' %}">Pending Requests and Donations</a></li>
                  {% if request.session.blood_supply_id == None %}
                     <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
                  {% else %}
                     <li class="nav-item"><a class="text-decoration-none nav-link" href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
                  {% endif %} 
               {% endif %}
                <li class="nav-item d-block d-lg-none"><a class="nav-link active" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
            <div class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.first_name }} {{ request.session.last_name }}</strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
    </div>
 </nav>

 <!-- Main -->
<div class="container">
<h1 class="p-3" >Edit Profile</h1>
        <div class="container2" align="center">

            <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="max-width: 30rem;" align="left">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="remove_user_image" name="remove_user_image" id="remove_user_image">
                              <label class="form-check-label">Remove profile pic</label>
                            </div>
                            {{form.as_p}}
                            <button type="submit" class="btn btn-secondary btn-sm" >Save</button>
                        </form>
                    </div>
                </div>
        </div>
</div>
{% endblock %}
