{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'accounts:index' %}">
       {% if request.session.type == 'D' %} 
          Donor: {{ request.session.first_name }} {{ request.session.last_name }}
       {% elif request.session.type == 'R' %} 
          Recipient: {{ request.session.first_name }} {{ request.session.last_name }}
       {% elif request.session.type == 'H' %} 
          Hospital: {{ request.session.name }}
       {% elif request.session.type == 'B' %} 
          Blood Bank: {{ request.session.name }}
       {% endif %}
    </a>
    <ul>
       {% if request.session.type == 'D' %}
          <li><a href="{% url 'donation:index' %}">Add Donation</a></li>
          <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
       {% elif request.session.type == 'R' %}
          <li><a href="{% url 'transfusion:index' %}">Add Transfusion</a></li>
          <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
       {% elif request.session.type == 'H' %}
          <li><a href="{% url 'request:request_blood_supply' %}">Request Blood Supply</a></li>
          {% if request.session.blood_supply_id == None %}
             <li><a href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
          {% else %}
             <li><a href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
          {% endif %}
          <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
       {% elif request.session.type == 'B' %}
          {% if request.session.blood_supply_id == None %}
             <li><a href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
          {% else %}
             <li><a href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
          {% endif %}
          <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
       {% endif %}
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
 </nav>

 <!-- Main -->
<h1>Edit Profile</h1>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>
{% endblock %}
