{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% if request.session.type == 'D' %}
   {% include 'partials/_donor.html' with donations=lists %}
{% elif request.session.type == 'R' %}
   {% include 'partials/_recipient.html' with transfusions=lists %}
{% elif request.session.type == 'B' %}
   {% include 'partials/_blood_bank.html' with donations=lists requests=requests %}
{% elif request.session.type == 'H' %}
   {% include 'partials/_hospital.html' with transfusions=lists requests=requests %}
{% endif %}
{% endblock %}
