{% extends 'base.html' %}

{% block title %}
Update Blood Supply
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            {% load static %}
            <img src="{% static 'image/blood.svg' %}" alt="" width="30" height="30">
            <strong>OneBlood</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show justify-content-between" id="navbarColor03">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-lg-none">
                    {{ user_image }}
                    <strong class="ms-2"> {{ request.session.name }}</strong>
                </li> <!-- small screen only -->
                {% if request.session.type == 'B' %}
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'accounts:index' %}">Home</a></li>
                {% else %}
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'accounts:index' %}">Home</a></li>
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'request:request_blood_supply' %}">Request Blood Supply</a></li>
                {% endif %}
                {% if request.session.blood_supply_id == None %}
                <li class="nav-item"><a class="text-decoration-none nav-link "  href="{% url 'storage:create_blood_supply' %}">Create Blood Supply</a></li>
                {% else %}
                <li class="nav-item"><a class="text-decoration-none nav-link active "  href="{% url 'storage:update_blood_supply' %}">Update Blood Supply</a></li>
                {% endif %}
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li> <!-- small screen only -->
                <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li> <!-- small screen only -->
            </ul>
            <!-- large screen only -->
            <div class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle justify-content-between" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong class="me-2"> {{ request.session.name }}</strong>
                    {{ user_image }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
 
 <!-- Main -->
<div class="container">

    <div class="container p-3" align="center">
            <div class="col-lg-8 shadow rounded px-5 py-5 row justify-content-center text-start" style="max-width: 30rem;" align="left">
                <h1 class>Update Blood Supply</h1>
                <div class="card-body">
                        <form method="POST" class="form-group">
                             {% csrf_token %}
                             {{form.as_p}}
                            <button class="btn btn-primary btn-sm" >Update</button>
                        </form>
                        <button class="btn btn-secondary btn-sm"  type="submit" onclick="location.href='{% url 'storage:delete_blood_supply' %}'">Delete</button>
                </div>
            </div>
    </div>
</div>
{% endblock %}